@use './reset.scss' as *;

// 引入清除默认样式
// 滚动条样式
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: $base-menu-bgc;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: yellow;
  border-radius: 10px;
}
